.stats {
  background-color: lightgrey;
  display: flex;
  padding: 0;
  list-style-type: none;
}
.stats-item {
  width: calc(100% / 4);
  padding: 16px;
}
.stats-item:not(:last-child) {
  border-right: 1px solid lightslategray;
}
.label {
  text-transform: capitalize;
  opacity: 0.6;
}
.quantity {
  font-weight: bold;
}
